/* ---------- Background ---------- */

.stApp {
    background: #0f172a;
    color: white;
}

/* ---------- Main Title ---------- */

.main-title{
    font-size:48px;
    font-weight:800;
    color:white;
    text-align:center;
    margin-bottom:0;
}

.sub-title{
    font-size:20px;
    color:#94a3b8;
    text-align:center;
    margin-bottom:35px;
}

/* ---------- Cards ---------- */

.card{
    background:#1e293b;
    padding:25px;
    border-radius:18px;
    border:1px solid #334155;
    margin-bottom:25px;
    box-shadow:0px 6px 20px rgba(0,0,0,.35);
}

/* ---------- Section Title ---------- */

.section-title{
    font-size:22px;
    font-weight:700;
    color:#38bdf8;
    margin-bottom:20px;
}

/* ---------- Prediction Card ---------- */

.success-card{
    background:#166534;
    border-radius:20px;
    padding:30px;
    text-align:center;
    border:2px solid #22c55e;
}

.danger-card{
    background:#7f1d1d;
    border-radius:20px;
    padding:30px;
    text-align:center;
    border:2px solid #ef4444;
}

/* ---------- Button ---------- */

.stButton>button{

    width:100%;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:12px;

    font-size:18px;

    padding:14px;

    transition:.3s;
}

.stButton>button:hover{

    background:#1d4ed8;

    transform:scale(1.02);
}


